/* static/dashboard.css */

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

#saveResultMessage {
    text-align: center;
}

#passwordList {
    text-align: center;
    list-style-type: none;
}

#passwordButtonContainer {
    text-align: center;
    margin-bottom: 50px;
}

#searchContainer {
    position: absolute;
    left: 300px;
}

#entryForm {
    text-align: center;
}

#entriesListContainer {
    display: flex;
    justify-content: center;
    overflow: auto;
    max-height: 300px;
}

.entry-item {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#entriesListContainer ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

#logoutContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

#exportButton {
    position: absolute;
    top: 10px;
    right: 150px;
}

button {
    padding: 10px;
    background-color: #051c2c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid transparent;
}

button:hover {
    background-color: #fff;
    color: #051c2c;
    border: 1px solid #051c2c;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
