/* static/dashboard.css */

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

#saveResultMessage {
    text-align: center;
}

#passwordList {
    text-align: center;
    list-style-type: none;
}

#passwordButtonContainer {
    text-align: center;
    margin-bottom: 50px;
}

#entryForm {
    text-align: center;
}

#entriesListContainer {
    display: flex;
    justify-content: center;
    overflow: auto;
    max-height: 300px; /* Ajoutez une hauteur maximale pour activer la barre de défilement lorsque la liste devient trop longue */
}

.entry-item {
    list-style-type: none; /* Pour supprimer les puces de la liste */
    padding: 10px; /* Ajustez l'espacement interne pour séparer les éléments */
    border-bottom: 1px solid #ccc; /* Ajoutez une bordure inférieure pour séparer les entrées */
}

#entriesListContainer ul li:nth-child(odd) {
    background-color: #f2f2f2; /* Couleur grise pour les éléments impairs */
}

#logoutContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style des boutons */
button {
    padding: 10px;
    background-color: #051c2c;
    color: #fff;
    border: none;
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
    margin: 0 5px; /* Espace entre les boutons */
    border: 1px solid transparent;
}

button:hover {
    background-color: #fff;
    color: #051c2c;
    border: 1px solid #051c2c;
    padding: 10px;
}

#exportButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    padding: 10px;
    background-color: #051c2c;
    color: #fff;
    border: none;
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
    margin: 0 5px; /* Espace entre les boutons */
    border: 1px solid transparent;
}

#exportButton:hover {
    background-color: #fff;
    color: #051c2c;
    border: 1px solid #051c2c;
    padding: 10px;
}
